# Terraform
**/.terraform/
#**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/crash.log


# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*