# ------------------------------------------------------
# Terraform
# ------------------------------------------------------
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/terraform.tfvars

# Keep provider lock file in Git
# !**/.terraform.lock.hcl

# ------------------------------------------------------
# Python
# ------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/

# ------------------------------------------------------
# Environment Variables
# ------------------------------------------------------
.env
.env.*

# ------------------------------------------------------
# IDE
# ------------------------------------------------------
.vscode/
.idea/

# ------------------------------------------------------
# OS Files
# ------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------
# Logs
# ------------------------------------------------------
*.log